{
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "protractor": true,
    "commonjs": true,
    "es6": true,
    "jquery": true
  },
  "root": true,
  "extends": "eslint:recommended",
  "rules": {
    "indent": [
      "error",
      "tab"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ]
  },
  "globals": {
    "angular": true,
    "inject": true
  }
}