frontend/node_modules
frontend/nodejs
frontend/typings
server-main/src/main/resources/static
.gradle/
.idea/workspace.xml
.idea/dataSources**/*
build
phantomjsdriver.log
npm-debug.log
.DS_Store