<div class="container">
    <div class="col-md-8 col-md-offset-4">
        <h1>{{ name }}</h1>
        <h4>Glad you could make it!</h4>

        <span id="not-logged-in" data-ng-if="!authenticated">
            Click <!--suppress HtmlUnknownTarget -->
            <a href="/login">here</a> to login
        </span>
        <div id="logged-in" data-ng-if="authenticated">
            <p id="logged-in-message">
                Welcome, <b>{{username}}!</b><br/><br/>
                We heard that your favorite cat was <b>{{favoriteCat}}</b>! That's fantastic!
            </p>
            <br/>
            <p id="resource-message">I wonder if hitting a <a ui-sref="resource" href="#"
                                                              id="resource-link">resource</a> might work?</p>
            <br/>
            <p>Click <a data-ng-click="logout()" ng-href="#" id="logout-link">here</a> to logout</p>
        </div>
    </div>
</div>
